@CHARSET "UTF-8";

body {
    background-color: white;
    margin: 0;
 	padding: 0;
}

#header {
	width: 100%;
	height: 100px;
	background-color: rgb(7, 40, 64);
}

#footer {
	width: 100%;
	height: 100px;
	background-color: rgb(7, 40, 64);
	border-width: 5px;
	border-color: rgb(0, 58, 85);
	border-top: solid;
	padding-top: 20px;
	position:static;
	bottom: 0;
}

#user_info{
	float: right;
	margin-right: 150px;
	margin-top: 20px; 
}

#overdue, #testing, #tracking{
	width: 100px;
	float: right;
	height: 70px; 	
	line-height: 70px; 
	padding-left: 30px;
}

#top_content {
	background-color: rgb(231, 235, 238);	
	width: 100%;
	height: 70px;
}

#overdue:HOVER, #testing:HOVER, #tracking:HOVER{
	background-color: rgb(120, 193, 157);
}