@CHARSET "UTF-8";

#wrap_main_content{
	width: 1050px;
    height: 100%;
    margin: auto;
}

#main_content {
	width: 100%;
	height: 600px;
	background-image: url("#{resource['img:brickwall.png']}");
	padding-top: 15px;
	padding-bottom: 15px;
}

#breadcrum_content {
	width: 100%;
	height: 45px;
	background-color: rgb(28, 176, 162);
	border-bottom: solid;
	border-color: rgb(7, 40, 64);
	line-height: 45px
}

#createSuit {
	margin-left: 50px;
}